<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celebrities</title>
</head>
<body>
    <a href="/celebrities">View All celebrities</a>
    <h1><%= celebrity.title %></h1>
    <h2><%= celebrity.year %> </h2>
    <h3><%= celebrity.length %> </h3>
    <h4><%= celebrity.tracks %> </h4>
    <a href="/celebrities/edit/<%= celebrity.id %>">Edit</a>

    <form method="POST" action="/celebrities/<%= celebrity.id %>/?_method=DELETE">
        <input type="submit" value="Delete celebrity">
    </form>
</body>
</html>