<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celebrities</title>
</head>
<body>
    <h1>Celebrities</h1>
    <a href="/celebrities">View Celebrities</a>
    <h1><%= celebrity.name %></h1>
    <h2><%= celebrity.dob %> </h2>
    <h3><%= celebrity.sign_name %> </h3>
    <a href="/celebrities/edit/<%= celebrity.id %>">Edit</a>

    <form method="POST" action="/celebrities/<%= celebrity.id %>/?_method=DELETE">
        <input type="submit" value="Delete">
    </form>
</body>
</html>