<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cards List - Bulma Templates</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="../css/cards.css">
</head>

<body>


  <div class="container">
    <div class="section">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title" style="color: ghostwhite;">EDIT</h1><br>
        </div>
      </div>
      <div id="app" class="row columns is-multiline">

        <body>
          <form method="POST" action="/signs/<%= sign.id %>/?_method=PUT">
            <label for="sign_name">Sign</label>
            <input type="text" name="sign_name" value="<%= sign.sign_name %> ">

            <label for="description">Description</label>
            <input id="description" type="text" name="description" value="<%= sign.description %> ">>

            <label for="background">Background</label>
            <input id="background" type="text" name="background" value="<%= sign.background %> ">>

            <label for="dates">Dates</label>
            <input id="dates" type="text" name="dates" value="<%= sign.dates %> ">>

            <input type="submit">
          </form>
        </body>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
      </div>
    </div>
  </footer>

  <script src="../js/cardsData.js"></script>

  <!-- Using Vue to populate cards to reduce redundant code -->
  <!-- <script>
      var app = new Vue({
        el: '#app',
        data: {
          cardData: cardsData
        }
      })

    </script> -->
</body>

</html>