<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cards List - Bulma Templates</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="../css/cards.css">
  </head>

  <body>


    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: ghostwhite;">ZODIA | CELEBRITIES</h1><br>
          </div>
        </div>
        <div id="app" class="row columns is-multiline">
            <body>
                <h1>Signs</h1>
                <a href="/signs">View All signs</a>
                <h1><%= sign.sign_name %></h1>
                <h2><%= sign.description %> </h2>
                <h3><%= sign.background %> </h3>
                <h4><%= sign.dates %> </h4>
                <a href="/signs/edit/<%= sign.id %>">Edit</a>
            
                <form method="POST" action="/signs/<%= sign.id %>/?_method=DELETE">
                    <input type="submit" value="Delete">
                </form>
            </body>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
        </div>
      </div>
    </footer>

    <script src="../js/cardsData.js"></script>

    <!-- Using Vue to populate cards to reduce redundant code -->
    <!-- <script>
      var app = new Vue({
        el: '#app',
        data: {
          cardData: cardsData
        }
      })

    </script> -->
  </body>

</html>
