<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signs</title>
</head>
<body>
    <h1>Signs</h1>
    <a href="/signs">View All signs</a>
    <h1><%= sign.sign_name %></h1>
    <h2><%= sign.description %> </h2>
    <h3><%= sign.background %> </h3>
    <h4><%= sign.dates %> </h4>
    <a href="/signs/edit/<%= sign.id %>">Edit</a>

    <form method="POST" action="/signs/<%= sign.id %>/?_method=DELETE">
        <input type="submit" value="Delete sign">
    </form>
</body>
</html>